.details{
    margin-top:5%;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 250%;
    color: rgb(141,194, 249);
  }

  .title{
    font-size:50px;
    font-family: 'Lucida Handwriting';
    margin-top:2%;
    margin-bottom: 1%;
    font-weight: 600;
}